In [2]:
import numpy as np
import pandas as pd

#### Задание 1

Используя только встроенные питоновские функции и структуры данных (т.е. без библиотек numpy, pandas и др.), посчитайте (несмещённое) среднее квадратичное отклонение для данной выборки.

In [21]:
a = pd.DataFrame([100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 230, 24, 57, 55, 70, 75, 65, 84, 90, 150], columns=['wage'])

mean_wage = a['wage'].sum()/a['wage'].count() ### среднее арифметическое

round(mean_wage, 8)

73.14285714

In [22]:
### среднее квадратическое
result_std = np.sqrt(((a['wage'] - mean_wage) ** 2).sum() / (a['wage'].count() - 1))

round(result_std, 8)

47.34795214

#### Задание 2

Найдите число выбросов в выборке из задачи 1. Для определения выбросов используйте методику как при построении “усов” в boxplot, однако, как и в задаче 1, пользоваться можно только встроенными функциями и структурами данных.

In [23]:
len(a)

21

In [28]:
height = sorted(a['wage'])
q1 = height[len(a) // 4]
q1

45

In [29]:
q3 = height[3 * len(a) // 4]
q3

84

In [35]:
iqr = q3 - q1 ### интерквартильный размах
iqr

39

In [36]:
boxplot_range = (q1 - 1.5 * iqr, q3 + 1.5 * iqr) ### диапазон значений
boxplot_range

(-13.5, 142.5)

In [39]:
outliers = a.loc[(a['wage'] < boxplot_range[0]) | (a['wage'] > boxplot_range[1])]

print('Количество выбросов:', outliers.shape[0])

Количество выбросов: 2

#### Задание 3

В университет на факультет A поступило 100 человек, на факультет B - 90 человек и на факультет C - 45 человек. Вероятность того, что студент с факультета A сдаст первую сессию, равна 0.6. Для студента с факультета B эта вероятность равна 0.7, а для студента с факультета C - 0.8. Случайным образом выбирается студент, сдавший первую сессию. Какое событие наиболее вероятно:
1) студент учится на факультете A,
2) студент учится на факультете B,
3) студент учится на факультете C?

In [40]:
total = 100 + 90 + 45

A = 0.6
B = 0.7
C = 0.8
p_a = (100/total) * A + (90/total) * B + (45/total) * C ### общая вероятность сдачи первой сессии

p_a

0.676595744680851

In [45]:
# используем формулу Байеса
## вероятность того, что студент сдавший сессию учится на факультете А
A_pass = ((100/total) * A) / p_a
round(A_pass, 4)

0.3774

In [46]:
## вероятность того, что студент сдавший сессию учится на факультете B
B_pass = ((90/total) * B) / p_a
round(B_pass, 4)

0.3962

In [48]:
## вероятность того, что студент сдавший сессию учится на факультете C
C_pass = ((45/total) * C) / p_a
round(C_pass, 4)

0.2264

Наиболее вероятно, что случайным образом выбранный студент, сдавший первую сессию, учится на факультете B