In [198]:
import pandas as pd
import numpy as np

from scipy import stats

–ò—Å–ø–æ–ª—å–∑—É—è –¥–∞–Ω–Ω—ã–µ –æ —Ö–æ–∫–∫–µ–∏—Å—Ç–∞—Ö (—Å–∫–∞—á–∞—Ç—å –º–æ–∂–Ω–æ [–∑–¥–µ—Å—å](https://habr.com/ru/post/301340/)), –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, —è–≤–ª—è–µ—Ç—Å—è –ª–∏ —Å—Ä–µ–¥–∏ —Ö–æ–∫–∫–µ–∏—Å—Ç–æ–≤ –∏–∑ –§–∏–Ω–ª—è–Ω–¥–∏–∏, –ù–æ—Ä–≤–µ–≥–∏–∏ –∏ –î–∞–Ω–∏–∏ –∑–Ω–∞—á–∏–º—ã–º –æ—Ç–ª–∏—á–∏–µ: –∞) —Ä–æ—Å—Ç–∞, –±) BMI.. –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ –∑–∞–ø–∏—à–∏—Ç–µ 1, –µ—Å–ª–∏ —è–≤–ª—è–µ—Ç—Å—è, –∏ 0 –∏–Ω–∞—á–µ.

In [199]:
df = pd.read_csv('../video_theory_prob/hockey_players.csv')
df.head(5)

,year,country,no,name,position,side,height,weight,birth,club,age,cohort,bmi
0,2001,RUS,10,tverdovsky oleg,D,L,185,84.0,1976-05-18,anaheim mighty ducks,24.952772,1976,24.543462
1,2001,RUS,2,vichnevsky vitali,D,L,188,86.0,1980-03-18,anaheim mighty ducks,21.119781,1980,24.332277
2,2001,RUS,26,petrochinin evgeni,D,L,182,95.0,1976-02-07,severstal cherepovetal,25.229295,1976,28.680111
3,2001,RUS,28,zhdan alexander,D,R,178,85.0,1971-08-28,ak bars kazan,29.675565,1971,26.827421
4,2001,RUS,32,orekhovsky oleg,D,R,175,88.0,1977-11-03,dynamo moscow,23.490760,1977,28.734694

In [200]:
df = df.drop_duplicates(subset=['name', 'birth'], keep='last')

In [201]:
q = ['height', 'bmi']
countries = ['FIN', 'NOR', 'DEN']

alpha = 0.05


for i in q:
    ys = [df.loc[df['country'] == country, i] for country in countries]
    y = np.concatenate(ys)
    ss_b = sum((yi.mean() - y.mean()) ** 2 * yi.size for yi in ys)
    ss_w = sum(((yi - yi.mean()) ** 2).sum() for yi in ys)
    
    sigma_b = ss_b / (len(ys) - 1)
    sigma_w = ss_w / (y.size - len(ys))
    
    T_stat = sigma_b / sigma_w
    F_crit = stats.f.ppf(1 - alpha, (len(ys) - 1), (y.size - len(ys)))
    
    if T_stat > F_crit:
        print('–î–ª—è –ø—Ä–∏–∑–Ω–∞–∫–∞', i, 'T_stat =', round(T_stat, 6), 'F_crit = ', round(F_crit, 6), '\n'
              'ùëá > ùêπùëêùëüùëñùë° , => –æ—Ç–ª–∏—á–∏–µ —Å—Ä–µ–¥–Ω–µ–≥–æ —Ä–æ—Å—Ç–∞ —Ö–æ–∫–∫–µ–∏—Å—Ç–æ–≤ —è–≤–ª—è–µ—Ç—Å—è —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º—ã–º.')
    else:
        print('–î–ª—è –ø—Ä–∏–∑–Ω–∞–∫–∞', i, 'T_stat =', round(T_stat, 6), 'F_crit = ', round(F_crit, 6) , '\n'
              'ùëá <= ùêπùëêùëüùëñùë° , => –æ—Ç–ª–∏—á–∏–µ —Å—Ä–µ–¥–Ω–µ–≥–æ —Ä–æ—Å—Ç–∞ —Ö–æ–∫–∫–µ–∏—Å—Ç–æ–≤ –Ω–µ —è–≤–ª—è–µ—Ç—Å—è —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º—ã–º.')

–î–ª—è –ø—Ä–∏–∑–Ω–∞–∫–∞ height T_stat = 3.802621 F_crit =  3.0167
ùëá > ùêπùëêùëüùëñùë° , => –æ—Ç–ª–∏—á–∏–µ —Å—Ä–µ–¥–Ω–µ–≥–æ —Ä–æ—Å—Ç–∞ —Ö–æ–∫–∫–µ–∏—Å—Ç–æ–≤ —è–≤–ª—è–µ—Ç—Å—è —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º—ã–º.
–î–ª—è –ø—Ä–∏–∑–Ω–∞–∫–∞ bmi T_stat = 5.918577 F_crit =  3.0167
ùëá > ùêπùëêùëüùëñùë° , => –æ—Ç–ª–∏—á–∏–µ —Å—Ä–µ–¥–Ω–µ–≥–æ —Ä–æ—Å—Ç–∞ —Ö–æ–∫–∫–µ–∏—Å—Ç–æ–≤ —è–≤–ª—è–µ—Ç—Å—è —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º—ã–º.