In [36]:
import numpy as np
import pandas as pd
from scipy import stats

#### Задача № 1

In [26]:
### ковариация
df = pd.DataFrame({'salary': [35, 45, 190, 200, 40, 70, 54, 150, 120, 110], 
                  'scoring': [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]})

df

   salary  scoring
0      35      401
1      45      574
2     190      874
3     200      919
4      40      459
5      70      739
6      54      653
7     150      902
8     120      746
9     110      832

In [29]:
X = df['salary']
Y = df['scoring']

MX = X.mean()
MY = Y.mean()

cov = ((X - MX) * (Y - MY)).sum() / (X.shape[0] - 1)
cov

10175.37777777778

In [30]:
np.cov(X, Y)

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

In [31]:
### коэффициент корреляции Пирсона
corr = cov / (X.std() * Y.std(ddof = 1))
corr

0.8874900920739164

In [32]:
df.corr()

          salary  scoring
salary   1.00000  0.88749
scoring  0.88749  1.00000

In [33]:
np.corrcoef(X, Y)

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

#### Задача № 2

In [55]:
IQ = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
p = 0.95
mean = IQ.mean()
alpha = 1 - p
n = IQ.shape[0]
std = IQ.std(ddof=0)

10.004498987955369

In [56]:
t1 = stats.t.ppf(alpha / 2, df=n - 1)
t2 = stats.t.ppf(1 - alpha / 2, df=n - 1)

t1, t2

(-2.2621571627409915, 2.2621571627409915)

In [57]:
(mean + t1 * std / np.sqrt(n), mean + t2 * std / np.sqrt(n)) ## доверительный интервал для мат. ожидания с надежностью 0.95

(110.9432125583706, 125.25678744162938)

#### Задача № 3

In [62]:
n = 27
D = 25
sigma = np.sqrt(D/n)
X_mean = 174.2
p = 0.95
alpha = 1 - p

In [63]:
(X_mean - 2 * sigma, X_mean + 2 * sigma) ## доверительный интервал

(172.27549910270125, 176.12450089729873)